# shellcheck disable=all

# Load environment variables from .env file
# while IFS='=' read -r name value; do if [[ ! $name =~ ^\# ]] && [[ -n $name ]]; then export "$name=$value"; fi; done < .env

# set LEET_HOME to the root directory of the project
LEET_HOME=/usr/local/leettools

# EDS_DATA_ROOT and EDS_LOG_ROOT can be set separately
# By default they are set to $LEET_HOME/data and $LEET_HOME/logs
EDS_DATA_ROOT=/usr/local/leettools/data
EDS_LOG_ROOT=/usr/local/leettools/logs

# change to 'log' to write logs to files if necessary
LOG_OUTPUT=console

# usually set to DEBUG in dev enviroment
LOG_LEVEL=INFO

# log file rotation settings when output is set to 'log'
LOG_SIZE_LIMIT=100M
LOG_SIG=leettools

