# shellcheck disable=all

# set LEET_HOME to the root directory of the project
LEET_HOME=/usr/local/leettools

# EDS_DATA_ROOT and EDS_LOG_ROOT can be set separately
# By default they are set to $LEET_HOME/data and $LEET_HOME/logs
# EDS_DATA_ROOT=/usr/local/leettools/data
# EDS_LOG_ROOT=/usr/local/leettools/logs

EDS_DEFAULT_LLM_BASE_URL=https://api.openai.com/v1
EDS_LLM_API_KEY=<your_openai_api_key>

# use the gpt-4o-mini model for inference by default
# EDS_DEFAULT_INFERENCE_MODEL=gpt-4o-mini

# use the embedding service from OpenAI by default
# EDS_DEFAULT_DENSE_EMBEDDER=dense_embedder_openai

# if no embedding service is availbale, we can use the local memory based dense embedder
# EDS_DEFAULT_DENSE_EMBEDDER=dense_embedder_local_mem

# we do not need these two if we also use LLM_BASE_URL for embeddings
# EDS_DEFAULT_EMBEDDING_BASE_URL=https://api.openai.com/v1
# EDS_EMBEDDING_API_KEY=<your_openai_api_key>

# set the default embedding model and dimension if needed
# EDS_DEFAULT_EMBEDDING_MODEL=text-embedding-3-small
# EDS_EMBEDDING_MODEL_DIMENSION=1536

# change to 'log' to write logs to files if necessary
LOG_OUTPUT=console

# usually set to DEBUG in dev enviroment
LOG_LEVEL=WARN

# log file rotation settings when output is set to 'log'
LOG_SIZE_LIMIT=100M
LOG_SIG=leettools

