# shellcheck disable=all

# Load environment variables from .env file
# while IFS='=' read -r name value; do if [[ ! $name =~ ^\# ]] && [[ -n $name ]]; then export "$name=$value"; fi; done < .env

# change the DATA_ROOT and LOG_ROOT to proper directories
EDS_DATA_ROOT=/usr/local/leettools/data/svc
EDS_LOG_ROOT=/usr/local/leettools/logs/svc

# change to 'log' to write logs to files
LOG_OUTPUT=console

# usually set to DEBUG in dev enviroment
LOG_LEVEL=INFO
LOG_SIZE_LIMIT=100M
LOG_SIG=leettools