# env variables for docker-compose.yml

COMPOSE_PROFILES=full

# fix to a stable version if needed
LEETTOOLS_VERSION=latest
LEETTOOLS_WEB_VERSION=latest

LEETTOOLS_ENV_FILE=../.env
DEFAULT_LANGUAGE=en

# specify the DOCUMENETS_HOME variable if you want to use a different directory
# DOCUMENETS_HOME=~/documents
