name: Run Pytest on PR Merge

on:
  pull_request:
    types: [closed] # Trigger only when the PR is closed (merged)
  workflow_dispatch: # Optional: Allows manual triggering of the workflow

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code
      - name: Checkout code
        uses: actions/checkout@v3

      # Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.11'

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r dev-requirements.txt
          pip install -e .

      - name: Set up required environment variables
        run: |
          export LEET_HOME=$(mktemp -d)
          echo "LEET_HOME=${LEET_HOME}" >> .env
          echo "EDS_DEFAULT_LLM_BASE_URL=${{ secrets.OPENAI_BASE_URL }}" >> .env
          echo "EDS_LLM_API_KEY=${{ secrets.OPENAI_API_KEY }}" >> .env


      # Run pytest
      - name: Run tests
        run: pytest
